{% extends "index_base.html" %}
{% load i18n %}
{% block wellcome %} {% endblock %} 
{% block content %} 
  <div class=" box1">
	<h3><a href="/." >{% trans "Main page" %}</a></h3>
	<div id="pass-reset">
	  <h1>{% trans "Password reset" %}</h1>
	  <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
      <form action="" method="post">		
		{{ form.email.errors }}
	    <p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" id="submit-button" value="{% trans 'Reset my password' %}" /></p>
	  </form>	
	</div>  
  </div>  
{% endblock %}
{% block main %} {% endblock %} 
