{% extends "index_base.html" %}
{% load  i18n  call_method %}

{% block header %}
<header class="headerv2">
	<div class="centercontainer">
		<h1>
			<a href="/">SCHAN</a>
		</h1>
		<nav class="wellcome">
			<ul>			
			   <li><a class="" href="/">Home</a></li>							
			</ul>
		</nav>
	</div>
</header>
{% endblock %}	
{% block content %}
<section class="centercontainer mt20">
	<div class="headline center-text">
		<h3>{% trans "Search friends" %}</h3>
	</div>	
	{% if members %}	
	    <form  class="search" id="search_members" > 
		   <input type="text" id="q" name="q" class="searchTerm" placeholder="username o email" >
		   <input type="submit"  class="searchButton" value="{% trans "Search" %}" />  
		</form>
		<ul id="itemList" class="icon-list ">
			{% for person in members %}			 
			  <li class="pb1" >				 
				 <a href="/user/{{ person.user.username }}"> 
					{% if person.profile_picture %}				   	
					   <img src="{{ MEDIA_URL }}{{ person.profile_picture }}" height="100" width="100" class="list-icon"/> 			   
					{% else %}			   
					   <img src="{{ STATIC_URL }}image/user.png" height="100" width="100" class="list-icon"/> 
					{% endif %}					
					<p class="line1"> {{ person.user.username }}</p> 
					<p class="line2">{% trans "Click here to view user profile" %}</p> 				
				 </a>				
			  </li>		
			{% endfor %}		 
		</ul>
	{% else %}	
	  <div class="text mt20">{% trans "No persons registered" %}.</div>						 	
	{% endif %}	
</section>
{% endblock %}


