{% load  settings %}
<div class="center" >
	<img class="css-emoticon cursor" data-tag=":smile:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/smile.png" width="30" height="30">
	
	<img class="css-emoticon cursor" data-tag=":serious:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/serious.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":smiley:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/smiley.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":relaxed:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/relaxed.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":wink:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/wink.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":heart_eyes:" data-textArea="message{{ id}}" src="{% setting 'STATIC_URL' %}emoji/heart_eyes.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":kissing_heart:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/kissing_heart.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":kissing_closed_eyes:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/kissing_closed_eyes.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":wink2:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/wink2.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":closeeyes:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/closeeyes.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":flushed:" data-textArea="message{{ id}}" src="{% setting 'STATIC_URL' %}emoji/flushed.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":grin:" data-textArea="message{{ id }}" SRC="{% setting 'STATIC_URL' %}emoji/grin.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":pensive:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/pensive.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":satisfied:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/satisfied.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":unamused:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/unamused.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":disappointed:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/disappointed.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":persevere:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/persevere.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":cry:"  data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/cry.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":cold_sweat:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/cold_sweat.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":scream:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/scream.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":angry:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/angry.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":rage:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/rage.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":triumph:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/triumph.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":confounded:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/confounded.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":laughing:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/laughing.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":yum:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/yum.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":mask:" data-textArea="message{{ id}}" src="{% setting 'STATIC_URL' %}emoji/mask.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":dizzy_face:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/dizzy_face.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":astonished:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/astonished.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":sob:"  data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/sob.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":joy:"  data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/joy.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":sweat:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/sweat.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":cry2:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/cry2.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":weary:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/weary.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":sleepy:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/sleepy.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":smirk:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/smirk.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":weary2:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/weary2.png" width="30" height="30">	

	<img class="css-emoticon cursor" data-tag=":fearful:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/fearful.png" width="30" height="30">

	<img class="css-emoticon cursor" data-tag=":sweat_smile:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/sweat_smile.png" width="30" height="30">
	
	<img class="css-emoticon cursor" data-tag=":monky1:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/monky1.png" width="30" height="30">
	
	<img class="css-emoticon cursor" data-tag=":monky2:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/monky2.png" width="30" height="30">
	
	<img class="css-emoticon cursor" data-tag=":monky3:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/monky3.png" width="30" height="30">
	
	<img class="css-emoticon cursor" data-tag=":thumup:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/thumup.png" width="30" height="30">
	
	<img class="css-emoticon cursor" data-tag=":thumbdown:" data-textArea="message{{ id }}" src="{% setting 'STATIC_URL' %}emoji/thumbdown.png" width="30" height="30">
</div>
